.RightSlides{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slider{
    height: 100% !important;
}

.slideTitle{
    text-align: center;
    height: 7%;
}

.contentPart{
    margin-top: 0;
    height: 100%;
    width: 100%;
}

.center{
    height: 100%;
}

.slider a.nextButton,.previousButton{
    opacity: 0.3;
    position: absolute !important;
    top: 95% !important;
}

.navDots{
    position: absolute;
    top: 93%;
    width: 60%;
    height: 7vh;
    background: transparent;
    display: flex;
    justify-content: center;
}

@media (max-aspect-ratio: 12/9){
    .navDots{
        top: 193%;
        width: 100%;
    }
}

.dot{
    width: 1.5vh;
    height: 1.5vh;
    margin-top: 2vh;
    margin-left: 1%;
    border-radius: 2vh;
    margin-right: 1%;
    background: #64ffdba1;
    border: 2px solid black;
}

.navButton{
    width: 4vh;
    height: 70%;
    margin-top: 1.5vh;
    margin-left: 1%;
    margin-right: 1%;
    background: transparent;
}

.dot.act{
    background: rgba(1, 16, 20, 0.781);
}

.navIc{
    height: 3.5vh;
    opacity: 0.5;
}