.osm{
    width: 100%;
    height:100%;
}

.scrsht{
    height: 45vh;
    margin-left: 10vh;
}

.scrShts{
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}

.bottomPart{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 3vh;
    padding-top: 6vh;
}

.linkButtons{
    margin-top: 2vh;
    width: 20%;
}

.textOSM{
    padding-left: 5%;
    width: 70%;
}

.Header{
    font-size: 5vh;
    color: white;
}

.techstack{
    margin-top: 1vh;
    font-size: 1.5vh;
    color: rgba(255, 255, 255, 0.884);
}

.desc{
    padding-top: 1vh;
    font-size: 2vh;
    color: rgb(211, 253, 214);
}

.andrLink,.webLink{
    display: flex;
    width: 70%;
    justify-content: center;
    height: 5vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    background: black;
    border-radius: 4vh;
    color: white;
}

.linkText{
    line-height: 4.5vh;
    margin-left: 0.5vh;
    width: 40%;
}

.linkicon{
    margin-top: 0.7vh;
    height: 3.5vh;
}



@media (max-aspect-ratio: 12/9){
    .scrsht{
        margin-left: 2vh;
    }
    .bottomPart{
        display: inherit;
        padding-top: 4vh;
    }
    .linkButtons{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-left: 10%;
        margin-top: 2vh;
    }
    .andrLink,.webLink{
        width: 50%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .textOSM{
        width: 90%;
    }

    .scrsht{
        height: 40vh;
    }

    .Header{
        font-size: 4.5vh;
    }
    
    .techstack{
        font-size: 1.3vh;
    }
    
    .desc{
        font-size: 1.7vh;
    }
    
}